body{
    background-image:url('record.jpg');
    background-attachment:fixed;
    background-repeat: repeat;
    background-size: cover;
}
th {
    font-size: 150%;
    font-weight: bolder;
}
tbody {
    font-size: 125%;
    font-weight: bold;
}
.jumbotron{
    background-color: #A1BDB9;
    padding: 10px;
}
.hidden{
    display: none;
    width: 150px;
}
.btn{
    display: none;
    margin: 15px;
    width: 78px;
    background-color: black;
    border-color: #A1BDB9;
    color: #A1BDB9;
}
.btn:hover{
    background-color: #A1BDB9;
    border-color: black;
    color: black;
}
.btn:visited{
    background-color: #A1BDB9;
    border-color: black;
    color: black;
}
.btn:focus {
    outline-color: transparent !important;
}